*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background:#f5f6fa !important ;
    font-family:'Roboto', sans-serif;
}
.container {
    width: 400px;
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

p{
    font-size:1rem;
}

button{
    width:10vw;
    height:8vh;
    background-color: #ff7e9d;
    border-radius: .5em;
    border: none;
    color: white;
    cursor: pointer;
}
#btn:hover{
    margin-top: 5px;
    background-color: #f594ab;
}

#text{
    font-weight : bold;
}